
{% extends 'base.html' %}
{% load static %}
{% load extra %}
{% block title %}Home page{% endblock %}{% block content %}
<div class="jumbotron">
  {% if user.is_authenticated %}
    {% if request.user|has_group:"student" %}
    <h1 class="display-4">Hello, {{ user }}</h1>
    <p class="lead">This is a simple educational site to teach you about the multiplication tables</p>
    <hr class="my-4">
    <p>if you are new here and you need some help with how the site works click below</p>
    <a class="btn btn-primary btn-lg" href="url 'help' 1" role="button">Learn more</a>
    <hr class="my-4">


    <div id="chartContainerExercises" style="height: 300px; width: 100%;">
    </div>
    {% else %}
    <h1 class="display-4">Hello, {{ user }}</h1>
    <p class="lead">This is a simple educational site to teach your students about the multiplication tables</p>
    <hr class="my-4">
    <p>if you are new here and you need some help with how the site works click below</p>
    <a class="btn btn-primary btn-lg" href="url 'help' 1" role="button">Learn more</a>
    <hr class="my-4">
    {% endif %}
  {% else %}
    <h1 class="display-4">Hello there</h1>
    <p class="lead">This is a simple educational site to teach you about the multiplication tables</p>
    <hr class="my-4">
    <p class="lead">For more functionality please login or if you are new sign up with the keycode you acquired from school</p>
    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">login</a>
    <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Sign up</a>
    <hr class="my-4">
    <p class="lead">If you are new here and you need some help with how the site works click below</p>
    <a class="btn btn-primary btn-lg" href="{% url 'help' 1 %}" role="button">Learn more</a>
    <hr class="my-4">
  {% endif %}

</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type="text/javascript">
window.onload = function () {
  $.ajax({
    url: "{% url 'json_progress_exercises' %}",
    success: function (plot_data) {
      var data = [];
      $.each(plot_data,function(index,plot) {
          data.push({

            x: plot.x,
            y: plot.y,
            name:plot.name,
            stackgroup: 'one',
            type: 'scatter',
            mode: 'scatter',
            marker: {
              color: plot.color,
              size: 8
            },
            line: {
              color: plot.color,
              width: 1
            }
          }
          )
      });
    var layout = {
      title:'Progress on multiple choice'
    };

    Plotly.newPlot('chartContainerExercises', data, layout, {responsive: true});

    }
  });
}
</script>
{% endblock %}
